html{
    min-height: 100%;
}
body{

    background-image:
        linear-gradient(
          to top, 
          hsla(293.08, 65%, 47.06%, 0.26) 0%,
          hsla(293.01, 64.78%, 47.02%, 0.262) 18.6%,
          hsla(292.83, 64.12%, 46.9%, 0.266) 34.4%,
          hsla(292.51, 63.07%, 46.71%, 0.274) 47.7%,
          hsla(292.05, 61.64%, 46.43%, 0.284) 58.8%,
          hsla(291.42, 59.88%, 46.05%, 0.296) 67.9%,
          hsla(290.57, 57.78%, 45.58%, 0.311) 75.2%,
          hsla(289.46, 55.36%, 44.99%, 0.328) 81%,
          hsla(287.98, 52.62%, 44.28%, 0.347) 85.5%,
          hsla(285.98, 49.54%, 43.43%, 0.368) 88.8%,
          hsla(283.19, 46.08%, 42.44%, 0.39) 91.4%,
          hsla(279.15, 42.17%, 41.27%, 0.414) 93.4%,
          hsla(272.91, 37.71%, 39.92%, 0.439) 95%,
          hsla(262.3, 32.55%, 38.35%, 0.465) 96.5%,
          hsla(241.14, 26.42%, 36.5%, 0.492) 98.1%,
          hsla(210.46, 45.45%, 28.04%, 0.52) 100%
        );
       background-size: cover;
        background-repeat: no-repeat;
       
        

      }

    .container{
        
        background-color: aliceblue;
       position: relative;
      left: 40em;
      top: 5em;
     margin-bottom: ;
        width: 400px;
        height: 650px;
        display: flex;
      text-align: center;
      background-image: url(/photos/cover2.jpg);
      background-repeat: no-repeat;
      background-size: 400px;
      box-shadow: 11px 20px 40px;
    }

 .profile img{
    padding:2em;
    margin-top: 11em;
    border-radius: 100px;
    width: 137px;
    height: 140px;
 }

 .contant{
    position: relative;
    bottom: 3em;
    padding-bottom: 20px;
 }


 .contant h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    position: relative;
   bottom: 2.5em;

 }
 .contant p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6em;
    position: relative;
    bottom: 1em;
    
 }

 .buttons{
    position: relative;
    bottom: -2em;


 }

 .button1{
    background: #ef233c;
    color: white;
    width: 7em;
    height: 2.7em;
    letter-spacing: 2px;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    margin-right: 1em;
    font-family: 'Rajdhani', sans-serif;
 }

 .button2{
    color: gray;
    width: 7em;
    height: 2.7em;
    letter-spacing: 2px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Rajdhani', sans-serif;
 }



 #icons{
    display: inline-block;
 position: relative;
 bottom: 3em;
word-spacing: 3em;
font-size: 25px
 }

